<h2 class="new-release">26 декабря 2020 года официальный релиз нашего
  альбома "<span class="accent">2020</span>" на
  всех мировых музыкальных
  площадках.</h2>
<div class="row">
  <div class="card col-sm-6">
    <div class="card-body">
      <div class="text-wrapper">
        <h5>Участники:</h5>
        <h4>Макс Егоров</h4>
        <p>Музыкальный продюсер проекта, автор текстов, музыки,
          идеи.</p>
        <h4>Леонид Цветков</h4>
        <p>Аранжировщик, звукорежиссёр, сведение, мастеринг, бэк
          вокал</p>
        <h4>Катерина Герда</h4>
        <p>Вокал, бэк вокал</p>
      </div>
    </div>
  </div>
  <div class="card col-sm-6">
    <div class="card-body">
      <figure class="wrapper2020">
        <img class="img-fluid" src="./assets/album2020.jpg"
             alt="wrapper">
      </figure>
    </div>
  </div>
</div>
<div class="row">
  <div class="col text-center">
    <a [href]="getUrl()"
       target="_blank"><img width="32px"
                            src="./assets/vk.png" alt="vk.ru"></a></div>
</div>
